*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer{
    background-color: #182c61;
    padding: 16px 0;
    color: #ecf0f1;
}

.container{
    width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

nav ul li{
    display: inline;
    margin-left: 20px;
}

nav ul li a,
.icones-sociais a{
    text-decoration: none;
    color: #ecf0f1;
}

section{
    padding: 20px 0;
}

input,
textarea,
button{
    display: block;
    margin-bottom: 8px;
    width: 320px;
}

.icones-consoles img,
.icones-sociais a img{
    height: 30px;
    margin-right: 10px;
}