
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button{
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
}

body,
input,
textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

header,
footer{
    background-color: #182c61;
    padding: 16px 0;
    color: #ecf0f1;
}

header h1{
    font-size: 36px;
}

header nav ul li{
    display: inline;
    margin-left: 20px;
    font-size: 20px;
}

header nav ul li a,
.icones-sociais a{
    text-decoration: none;
    color: #ecf0f1;
}

header .container{
    align-items: center;
}

section{
    padding: 24px 0;
}

section h2,
section h3{
    margin-bottom: 16px;
    color: #182c61;
}

section p{
    margin-bottom: 8px;
}

#sobre .container div{
    margin-left: 32px;
    text-align: justify;
}

.icones-consoles li img,
.icones-sociais li a img{
    height: 30px;
    margin-right: 10px;
}

.icones-consoles li,
.icones-sociais li{
    display: inline;
}

form input,
form textarea,
form button{
    display: block;
    margin-bottom: 8px;
    width: 320px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

form button{
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #314e9e;
}

form input:focus,
form textarea:focus{
    outline-color: #182c61;
}

footer div span{
    width: 100%;
    text-align: center;
}